{% extends 'base.html.twig' %}

{% block body %}
  <section class="dark-wrapper opaqued parallax"
    data-parallax="scroll"
    data-image-src="{{ asset('img/banniere.png') }}"
    data-speed="0.7">
    <div class="section-inner pad-top-200">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mt30 wow text-center">
            <h2 class="section-heading">
           {% trans %} Added Illustrator {% endtrans %}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="welcome">
    <div class="section-inner-illustrateur">
      {{ form_start(registerForm) }}
      <div class="row">
        <div class="col-md-offset-4">
          {% if form_errors(registerForm.nomIllustrateur) %}
            <div class="row">
              <div class="col-md-12">
                {{ form_errors(registerForm.nomIllustrateur) }}
              </div>
            </div>
          {% else %}
            <br />
          {% endif %}
          <label>{% trans %}Name or Pseudo :{% endtrans %}</label>
          {{ form_widget(registerForm.nomIllustrateur) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-4">
          {% if form_errors(registerForm.prenom) %}
            <div class="row">
              <div class="col-md-12">
                {{ form_errors(registerForm.prenom) }}
              </div>
            </div>
          {% else %}
            <br />
          {% endif %}
          <label>{% trans %}Firstname :{% endtrans %}</label>
          {{ form_widget(registerForm.prenom) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-4">
          {% if form_errors(registerForm.lienSite) %}
            <div class="row">
              <div class="col-md-12">
                {{ form_errors(registerForm.lienSite) }}
              </div>
            </div>
          {% else %}
            <br />
          {% endif %}
          <label>{% trans %}Site link :{% endtrans %}</label>
          {{ form_widget(registerForm.lienSite) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-4">
          {% if form_errors(registerForm.lienFacebook) %}
            <div class="row">
              <div class="col-md-12">
                {{ form_errors(registerForm.lienFacebook) }}
              </div>
            </div>
          {% else %}
            <br />
          {% endif %}
          <label>{% trans %}FaceBook page link :{% endtrans %}</label>
          {{ form_widget(registerForm.lienFacebook) }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-4">
          {% if form_errors(registerForm.lienInsta) %}
            <div class="row">
              <div class="col-md-12">
                {{ form_errors(registerForm.lienInsta) }}
              </div>
            </div>
          {% else %}
            <br />
          {% endif %}
          <label>{% trans %}Instagram link :{% endtrans %}</label>
          {{ form_widget(registerForm.lienInsta) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-4">
          {% if form_errors(registerForm.chaineYoutube) %}
            <div class="row">
              <div class="col-md-12">
                {{ form_errors(registerForm.chaineYoutube) }}
              </div>
            </div>
          {% else %}
            <br />
          {% endif %}
          <label>{% trans %}Youtube channel :{% endtrans %}</label>
          {{ form_widget(registerForm.chaineYoutube) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-4">
          {% if form_errors(registerForm.logo) %}
            <div class="row">
              <div class="col-md-12">
                {{ form_errors(registerForm.logo) }}
              </div>
            </div>
          {% else %}
            <br />
          {% endif %}
          <label>{% trans %}Logo :{% endtrans %}</label>
          {{ form_widget(registerForm.logo) }}
        </div>
      </div>
      <div class="container-bouton text-center btnValidation">
        <button type="submit" class="btn btn-primary">
          <span class="outline-text">{% trans %}Save{% endtrans %}</span>
        </button>
        &#160; &#160; &#160; &#160;
        <button class="btn-primary">
          <span class="outline-text">
            <a href="{{ path('accueil') }}">{% trans %}Back{% endtrans %}</a>
          </span>
        </button>
      </div>
    </div>
    {{ form_end(registerForm) }}
  </section>
{% endblock %}
